
@model MyCarbonFootprintCalculator.Models.ViewModel.LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Views/Shared/_AuthLayout.cshtml";
}

@*<h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">*@
<section>
    <form id="account" method="post">
        <h4>Use a local account to log in.</h4>
        <a style="color:red; text-decoration:solid">@ViewBag.Result</a>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger" type="email" placeholder="Email" required"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" type="password"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        @*<div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>*@
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
        <div class="form-group">
            @*<p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>*@
            <p>
                <a asp-controller="Account" asp-action="Register">Register as a new user</a>
            </p>
            @*<p>
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </p>*@
        </div>
    </form>
    
</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}