@model MyCarbonFootprintCalculator.Models.HouseMod

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HouseMod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HouseId" />
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sqft" class="control-label"></label>
                <input asp-for="Sqft" class="form-control" />
                <span asp-validation-for="Sqft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Energy_Usage" class="control-label"></label>
                <input asp-for="Energy_Usage" class="form-control" />
                <span asp-validation-for="Energy_Usage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Energy_Type" class="control-label"></label>
                <input asp-for="Energy_Type" class="form-control" />
                <span asp-validation-for="Energy_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
