body {
}

.maininfo {
    display: inline-grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: 100px 100px 100px 100px;
}
.congrats {
    font-family: "Rancho", 'Inconsolata', 'Droid+Sans', cursive;
    grid-area: 1/1/3/4;
    font-weight: bold;
    color: darkblue;
    font-style: italic;
    margin-top: 10px;
    padding-top: 20px;
    font-size: 50px;
}
.fptwords {
    font-family: "Rancho",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    grid-area: 1/4/3/7;
    margin-top: 5px;
    padding: 30px;
    font-weight: bold;
    color: blue;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}
.co2map{
    grid-area: 3/5/5/7;
    width: 650px;
    height: 400px;
    margin-top: 10px;
    margin-left: 150px;
    border-radius: 10px;
}
