body {
}

.maininfo {
    display: inline-grid;
    grid-template-columns: 150px 150px 150px 150px 150px 100px 50px;
    grid-template-rows: 100px 100px 100px 150px 50px;
    padding-right: 0px;
}
.congrats {
    font-family: "Rancho", 'Inconsolata', 'Droid+Sans', cursive;
    grid-area: 1/1/2/4;
    font-weight: bold;
    color: darkblue;
    font-style: italic;
    margin-top: 10px;
    padding-top: 20px;
    font-size: 50px;
}
.fptwords {
    font-family: "Rancho",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    grid-area: 1/4/3/9;
    margin-top: 5px;
    padding: 30px;
    font-weight: bold;
    color: blue;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    min-width:700px;
}
.infosec {
    grid-area: 2/1/5/3;
}
.graphresults{
    grid-area: 3/4/4/7;   
}
.saveit {
    grid-area: 5/8/6/9;
    width:100px;
    height:30px;
    font-family:cursive;
    background-color: blue;
    color: white;
    border-radius:5px;
    padding-left: 5px;
    margin-left:10px;
}
