@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Protecting your private information is our priority. We do not collect anny personal information about you unless you voluntarily provide it to us.
    This includes your annual income, and location. Any information provided is only used for survey purposes and is not published on the web.
    We do not sell, rent or disclose your infomation to any third parties. Data collected is only for temporary use and is disposed of within 24hours.
</p>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
