@model MyCarbonFootprintCalculator.Models.GenInfoMod

@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "_Layout1";
}

<h4>Edit</h4>

<h4>GenInfoMod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="GenInfoMods" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnnualIncome" class="control-label">Annual Income ($)</label>
                <select class="form-control" asp-for="AnnualIncome">
                    <option value="@Model.AnnualIncome"> @Model.AnnualIncome</option>
                    <option value="15000"> $0 - $25K </option>
                    <option value="40000"> $25K - $50K </option>
                    <option value="65000"> $50K - $75K </option>
                    <option value="90000"> $75K - $100K </option>
                    <option value="110000"> $100K+ </option>
                </select>
                <span asp-validation-for="AnnualIncome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}