@{
    Layout = "_PrivacyLayout";
}
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style="font-size:medium; ">
    <h style="font-weight:bold;">Personal Information.  </h>    By “Personal Information” we mean any information that may directly identify you, any designee you appoint to manage your Cartus OnLine account or a member of your family, including name, address, mobile or other telephone number, e-mail address, government identification number, date of birth, photograph, financial account information, or other similar data elements that may be created or made available in connection with your relocation. We ask that you refrain from providing us with sensitive personal information about you or members of your family, such as your ethnicity, religion, health condition, and/or sexual orientation, as these data elements are not usually needed for your relocation. In the event it is necessary for you to provide us with sensitive personal information for your relocation, (i) if you are a resident of the European Union or Switzerland, Cartus will use this information as part of your relocation to provide the services requested by your employer, our corporate client, or (ii) if you are not a resident of the EU or Switzerland, by signing below you explicitly consent to Cartus’ use of that information for the Relocation Purpose.
</p>
<p>
    <h style="font-weight:bold;">Use of Your Personal Information.  </h>    We process your information as necessary for Cartus to provide relocation services under the terms of its contractual obligations with your employer consistent with the legitimate interests of your employer (i.e., our corporate or government entity client). If you provide us with sensitive personal information, we will process it based on the instructions received from your employer in order to provide relocation services or your consent, as applicable. We will collect, use, disclose, retain and transfer Personal Information only for purposes of managing and facilitating your move from one location to a new location (the “Relocation Purpose”), including the following to the extent authorized by your employer: (a) arranging for your physical move and the storage of your property; (b) tracking and processing expense reimbursements; (c) home sales, purchases, and rentals, including financing arrangements; (d) explaining various employer-sponsored benefits; (e) immigration and other customs related purposes; (f) cultural assistance and training; and (g) other activities relating to the delivery and improvement of relocation services. Any access to your Personal Information is restricted to those individuals that have a need to know to fulfill their job responsibilities. We will not use Personal Information for any other purpose incompatible with the Relocation Purpose outlined in this Notice, unless it is required or authorized by laws that apply to Cartus or otherwise authorized by you.
</p>
<p>
    Protecting your private information is our priority. We do not collect any personal information about you unless you voluntarily provide it to us.
    This includes your annual income, and location. Any information provided is only used for survey purposes and is not published on the web.
    We do not sell, rent or disclose your infomation to any third parties. Data collected is only for temporary use and is disposed of within 24 hours.
</p>

