@model MyCarbonFootprintCalculator.Models.FoodMod

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FoodMod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DietType" class="control-label">Diet Type</label>
                <input asp-for="DietType" class="form-control" />
                <span asp-validation-for="DietType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grains" class="control-label"></label>
                <input asp-for="Grains" class="form-control" />
                <span asp-validation-for="Grains" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meat" class="control-label"></label>
                <input asp-for="Meat" class="form-control" />
                <span asp-validation-for="Meat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vegetables" class="control-label"></label>
                <input asp-for="Vegetables" class="form-control" />
                <span asp-validation-for="Vegetables" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fruits" class="control-label"></label>
                <input asp-for="Fruits" class="form-control" />
                <span asp-validation-for="Fruits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fish" class="control-label"></label>
                <input asp-for="Fish" class="form-control" />
                <span asp-validation-for="Fish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Milk" class="control-label"></label>
                <input asp-for="Milk" class="form-control" />
                <span asp-validation-for="Milk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desserts" class="control-label"></label>
                <input asp-for="Desserts" class="form-control" />
                <span asp-validation-for="Desserts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fast_foods" class="control-label">Fast food</label>
                <input asp-for="Fast_foods" class="form-control" />
                <span asp-validation-for="Fast_foods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
