
@using Microsoft.AspNetCore.Identity



@model MyCarbonFootprintCalculator.Models.GenInfoMod

@{
    ViewData["Title"] = "Create";
}

<h4>User General Information</h4>
<hr />
<div class="row temp">
    <div>
        User ID 
        <p class="useridholder"  style="width:100px; height:30px; background-color:lightgrey; text-align:center;">@ViewBag.CurrentUserId</p>
    </div>
    <svg class="didyouknow" @*width="600" height="450"*@>
        <rect x="50" y="20" rx="20" ry="20" width="350" height="350"
              style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />
    </svg>
    <div class="displayusersname">
        <h1 style="font-family:'Brush Script MT'; color:darkviolet"> Welcome @ViewBag.CurrentUser !</h1>      
    </div>
    <div class="col-md-4 geninfodata">
        <form asp-action="Create" method="post" class="fancy-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group city-wrap">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" placeholder="Leave blank" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group state-wrap">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" placeholder="Leave blank" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group zip-wrap">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" placeholder="Enter five digit ZipCode" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AnnualIncome" class="control-label">Annual Income ($)</label>
                <select class="form-control" asp-for="AnnualIncome">
                    <option value="null"> Select annual income range </option>
                    <option value="15000"> $0 - $25K </option>
                    <option value="40000"> $25K - $50K </option>
                    <option value="65000"> $50K - $75K </option>
                    <option value="90000"> $75K - $100K </option>
                    <option value="110000"> $100K+ </option>
                </select>
                <span asp-validation-for="AnnualIncome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Next >" class="btn btn-primary" />                
            </div>
            <div>
                @if (ViewBag.CurrentUserId == 1)
                {
                    <a asp-action="Index">Back to List</a> @*don't want regular users to have access*@
                }
            </div>
            
        </form>
    </div>
</div>

